body {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    background-image: url(../../galery/BannerOriginal.jpg);
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    animation: fadeIn 1s ease-in-out;
}

.login-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin-right: 0;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: slideInFromRight 1s ease-in-out;
}

.login-logo {
    max-width: 50%;
    margin-bottom: 20px;
}

.alternative-options {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.alternative-options .login-button,
.alternative-options .guest-button {
    margin-bottom: 10px;
    color: #fff;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: fadeIn 1.5s ease-in-out;
}

.alternative-options .login-button {
    background-color: #007bff;
}

.alternative-options .guest-button {
    background-color: #6c757d;
}

.alternative-options button:hover {
    opacity: 0.9;
}

.hidden {
    display: none;
}

#login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    animation: fadeIn 1s ease-in-out;
}

#login-form input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 94%;
}

#login-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    width: 100%;
}

#login-form button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    body {
        justify-content: center;
    }

    .login-container {
        width: 90%;
        max-width: 300px;
        margin-right: 0;
        height: 500px;
    }
    #login-form input{
        width: 93%;
    }
}

/* Animações */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

#login-form {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

#login-form.show {
    max-height: 200px; /* Ajuste conforme necessário */
}