.backgroun_login{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../../galery/BannerOriginal.jpg);
    background-size: cover;
    background-position: center;
}

.login_box{
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(255, 200, 91);
}

.opcoes_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.opcoes_box a{
    margin: 5px;
    color: rgb(4, 53, 4);
}
.opcoes_box a:hover{
    color: orangered;
    text-decoration: underline;
}

.input_login{
    width: 80%;
    height: 25px;
    margin: 5px;
    border-radius: 8px;
    text-indent: 5px;
}

.submit{
    width: 60%;
    height: 30px;
    margin: 5px;
    border-radius: 8px;
    border: 2px solid rgb(1, 102, 21);
    background-color: rgb(254, 180, 43);
}
.submit:hover{
    background-color: green;
    color: white;
    cursor: pointer;
}

.logo_tela_login{
    width: 130px;
}

.cadastro{
    width: 100vw;
}